{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/mvp.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <title>{{template "title" .}}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Milky Gist</a></h1>
    </header>
    <div class="container">{{template "nav" .}}</div>
    <main>{{template "main" .}}</main>
    <footer>
      Powered by
      <a href="https://github.com/milkymilky0116">Milky Milky </a>
      in {{.CurrentYear}}
    </footer>
  </body>
</html>
{{end}}
